@import "tailwindcss";
@plugin "@tailwindcss/typography";


::-webkit-scrollbar {
      width: 2px;
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 2px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: transparent;
      border-radius: 2px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: transparent
    }

  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }

  .animate-bounce {
    animation: bounce 1s ease-in-out infinite;
  }

  body, html, #root {
        background-color: #111827 !important;
      }
      
      .prose pre {
        max-width: 100%;
        overflow-x: auto;
      }
      
      .prose code {
        word-break: break-word;
  }
