@import "tailwindcss";
@plugin "@tailwindcss/typography";


::-webkit-scrollbar {
      width: 8px;
    }
    
    ::-webkit-scrollbar-track {
      border-radius: 4px;
    }
    
    ::-webkit-scrollbar-thumb {
      background: white;
      border-radius: 4px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: rgba(255, 255, 255, 0.5);
    }
    